.loader {
  position: absolute;
  top:0;
  right: 0;
  left: 0;
  bottom: 0;
  display: flex;
  justify-content: center;
  .outer,
  .middle,
  .inner {
    border: 3px solid transparent;
    border-radius: 50%;
    position: absolute;
    top: 50%;
    left: 50%;
  }

  .outer {
    width: 3.5em;
    height: 3.5em;
    margin-left: -1.75em;
    margin-top: -1.75em;
    animation: spin 2s linear infinite;
    border-top-color: var(--color-primary-variant);
    border-right-color: var(--color-primary-variant);
  }

  .middle {
    width: 2.1em;
    height: 2.1em;
    margin-left: -1.05em;
    margin-top: -1.05em;
    animation: spin 1.75s linear reverse infinite;
    border-top-color: var(--color-primary);
    border-right-color: var(--color-primary);
  }

  .inner {
    width: 0.8em;
    height: 0.8em;
    margin-left: -0.4em;
    margin-top: -0.4em;
    animation: spin 1.5s linear infinite;
    border-top-color: var(--color-primary-variant);
    border-right-color: var(--color-primary-variant);
  }
}

@keyframes spin {
  to {
    transform: rotate(360deg);
  }
}
