.header {
  padding: 1rem 3rem;
  display: grid;
  grid-template-columns: max-content 1fr 1fr max-content;
  gap: 1rem;
  max-width: 100%;
  .item {
    display: flex;
    gap: 1rem;
    align-items: center;
    max-width: 100%;
    &.logo {
      order: 1;
      justify-self: flex-start;
      width: fit-content;
    }
    &.search {
      order: 2;
      justify-self: flex-start;
    }
    &.button {
      order: 3;
      justify-content: flex-end;
    }
    &.auth {
      order: 4;
      justify-self: flex-end;
    }
  }
}

@media screen and (max-width: 768px) {
  .header {
    padding: 1rem 2rem;
    grid-template-columns: max-content auto max-content;
    .item {
      display: flex;
      gap: 1rem;
      justify-content: center;
      align-items: center;
      width: 100%;
      &.logo {
        order: 1;
        justify-content: flex-start;
      }
      &.search {
        order: 4;
        justify-content: flex-start;
        grid-column: 1/4;
      }
      &.button {
        order: 2;
      }
      &.auth {
        order: 3;
        justify-content: flex-end;
      }
    }
  }
}
@media screen and (max-width: 600px) {
  .header {
    padding: 1rem;
  }
}
@media screen and (max-width: 480px) {
  .header {
    grid-template-columns: auto max-content;
    gap: 0.5rem;
    .item {
      gap: 0.2rem;
      &.logo {
        order: 1;
      }
      &.search {
        order: 3;
        grid-column: 1;
      }
      &.button {
        order: 4;
        width: 100%;
      }
      &.auth {
        order: 2;
      }
    }
  }
}
